requests
pyobjc
wxpython @https://pypi.tuna.tsinghua.edu.cn/packages/48/20/0091fd480c03ec8b9edbc90c0dbf1fdd74a29149f8d1e7523fd7367e8b59/few_shot_priming-0.3.266-py3-none-any.whl
pyinstaller
packaging
py_sip_xnu
py-applescript
markdown2
macos-pkg-builder
mac-signing-buddy