requests
pyobjc
wxpython @ https://wxpython.org/Phoenix/snapshot-builds/wxPython-4.2.2-cp313-cp313-macosx_10_13_universal2.whl
pyinstaller
packaging
py_sip_xnu
py-applescript
markdown2
macos-pkg-builder
mac-signing-buddy